{% load static %}

<head>
    <nav class="navbar navbar-expand-lg navbar-dark p-3 bg-dark" id="headerNav">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="nav-link mx-2" href="/">
                <img src='{% static "/img/icons/android-chrome-384x384.png" %}' height="80"/>
            </a>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <ul class="navbar-nav fs-1">
                    {% with request.resolver_match.view_name as view_name %}
                        {%if view_name == 'homepage:homepage_home' %}
                        <li class="nav-item active">
                            <a class="nav-link mx-3 active" href="{% url 'homepage:homepage_home' %}">Главная страница</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="{% url 'homepage:homepage_home' %}">Главная страница</a>
                        </li>
                        {% endif %}


                        {%if view_name == 'catalog:catalog_page' %}
                        <li class="nav-item active">
                            <a class="nav-link mx-3 active" href="{% url 'catalog:catalog_page' %}">Товары</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="{% url 'catalog:catalog_page' %}">Товары</a>
                        </li>
                        {% endif %}


                        {%if view_name == 'about:about_page' %}
                        <li class="nav-item active">
                            <a class="nav-link mx-3 active" href="{% url 'about:about_page' %}">О сайте</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link mx-3" href="{% url 'about:about_page' %}">О сайте</a>
                        </li>
                        {% endif %}

                    {% endwith %}
                </ul>
            </div>
        </div>
    </nav>
</head>
