{% load static %}
{% load active_link_tags %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark p-3 bg-dark" id="headerNav">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="nav-link mx-2" href="/">
                <img src='{% static "/img/icons/android-chrome-384x384.png" %}' alt="" height="80">
            </a>


            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav fs-1">
                    <li class="nav-item"><a href="{% url 'homepage:homepage_home' %}"
                                            class="{% active_link 'homepage:homepage_home' strict=True%} nav-link mx-3">Главная страница</a>
                    </li>
                    <li class="nav-item"><a href="{% url 'catalog:catalog_page' %}"
                                            class="{% active_link 'catalog:catalog_page'%} nav-link mx-3">Товары</a></li>
                    <li class="nav-item"><a href="{% url 'about:about_page' %}"
                                            class="{% active_link 'about:about_page' strict=True%} nav-link mx-3">О сайте</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>